h4{
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 36px;
  color: #00416a;
 
  
}
*{
  font-family: 'Baloo Tammudu 2', cursive;
}
.container{
   margin-top: 280px;
  
}
small{
  font-family: 'Baloo Tammudu 2', cursive;
  color: #00416a;
}